#form{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ea564c+20,a9e5bb+40,fcf6b1+60,f7b32b+80 */
  background: rgb(234,86,76); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(234,86,76) 20%, rgb(169,229,187) 40%, rgb(252,246,177) 60%, rgb(247,179,43) 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgb(234,86,76) 20%,rgb(169,229,187) 40%,rgb(252,246,177) 60%,rgb(247,179,43) 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgb(234,86,76) 20%,rgb(169,229,187) 40%,rgb(252,246,177) 60%,rgb(247,179,43) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea564c', endColorstr='#f7b32b',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-size:cover;

}

#top{
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 120%;
}

#slogan{
  font-family: "Verdana", Geneva, sans-serif;
  font-style:italic;
  font-size: 150%;
}
#movies{
  background-color: #8A2BE2;
  width:40%;
  height:40%;
}
#shops{
  background-color: orange;
  width:40%;
  height:40%;
}
#restaurants{
  background-color: red;
  width:40%;
  height:40%;
}
#parks{
  background-color: lightblue;
  width:40%;
  height:40%;
}
#activityChoice{
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 150%;
}
#zip{
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 150%;
}

#address{
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 150%;
}
input[type=text]{
  font-size: 70%;
}
input[type=submit]{
  font-size:150%;
  -webkit-appearance: white;

}
label.image-radio input[type=radio] {
  display: none;
}

label.image-radio input[type=radio]:checked + img {
  border: 3px solid black;
}
