#slogan{
  font-style:italic;
}
#form{
  background-color: white;
}
#movies{
  background-color: #8A2BE2;
  width:10%;
  height:10%;
}
#shops{
  background-color: orange;
  width:10%;
  height:10%;
}
#restaurants{
  background-color: red;
  width:10%;
  height:10%;
}
#parks{
  background-color: lightblue;
  width:10%;
  height:10%;
}

label.image-radio input[type=radio] {
  display: none;
}

label.image-radio input[type=radio]:checked + img {
  border: 3px solid black;
}
