#top{
  font-family: "Verdana", Geneva, sans-serif;
  background-color: #EA564C
}

#slogan{
  font-family: "Verdana", Geneva, sans-serif;
  font-style:italic;
}

#movies{
  background-color: #8A2BE2;
  width:10%;
  height:10%;
}
#shops{
  background-color: orange;
  width:10%;
  height:10%;
}
#restaurants{
  background-color: red;
  width:10%;
  height:10%;
}
#parks{
  background-color: lightblue;
  width:10%;
  height:10%;
}

label.image-radio input[type=radio] {
  display: none;
}

label.image-radio input[type=radio]:checked + img {
  border: 3px solid black;
}

#activityChoice{
  background-color: #A9E5BB
}


#zip{
  background-color: #FCF6B1
}

#address{
  background-color: #F7B32B
}
