<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HappyPlace</title>
    <link rel="stylesheet" href="/static/welcome.css">
  </head>
  <body>
    <form id="form" method = POST action = "/results">
      <h1>Welcome to HappyPlace!</h1>
      <p>Helping <i> everyone </i> find their happy place.</p>
      <br>
      <h2 id="slogan">Finding your Happy Place is as easy as 1 - 2 - 3!</h2>
        <div>
          <b>Step 1: </b>
          <br>
          <p> What would you like to do? </p>
          <select name="activity">
           <option value="shops">Shop</option>
           <option value="movies">Watch Movies</option>
           <option value="restaurants">Eat</option>
           <option value="parks">Go to a park</option>
           </select>
        </div>
        <br>
        <div>
          <b>Step 2: </b>
          <br>
          <p> Enter your zip code</p>
            <input type = "text" name = "zip_code" value = "" checked><br>
        </div>
        <br>
        <div>
          <b>Step 3: </b>
          <br>
          <p> Enter your address or one near you</p>
            <input type = "text" name = "address" value = "" checked><br>
        </div>
          <b>Step 4: </b>
          <br>
          <p> How are you traveling? </p>
            <input type = "radio" name = "mode of travel" value = "walking" checked> Walking<br>
            <input type = "radio" name = "mode of travel" value = "bicycling"> Bicycling<br>
            <input type = "radio" name = "mode of travel" value = "driving"> Car<br>
            <!-- The point here is that we want the user to select their mode of travel and this selection will be used to interact with google maps API
            to figure out which mode of travel is optimal, but we could also just have the user pick their mode of travel on the API itself and come up with
            a third parameter to use here -->
          <br>
          <input type = "submit" value = "Submit">
        </div>
        <br>
    </form>
  </body>
  </html>
