<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HappyPlace</title>
    <link rel="stylesheet" href="/static/welcome.css">
  </head>
  <body>
    <form id="form" method = POST action = "/results">
      <h1>Welcome to HappyPlace!</h1>
      <p>Helping <i> everyone </i> find their happy place.</p>
      <br>
      <h2 id="slogan">Finding your Happy Place is as easy as 1 - 2 - 3!</h2>
        <div>
          <b>Step 1: </b>
          <br>
          <p> What would you like to do? </p>
           <input type="radio" name="activity" value="shops" checked> <img id = "shops" src=static/shop_icon-removebg-preview.png><br>
           <input type="radio" name="activity" value="movies"> <img id = "movies" src=static/Film_Reel-removebg-preview.png><br>
           <input type="radio" name="activity" value="parks">   <img id = "parks" src=static/Park_Icon.png><br>
           <input type="radio" name="activity" value="restaurants"> <img id = "restaurants" src=static/Fork_and_Knife-removebg-preview.png>

        </div>
        <br>
        <div>
          <b>Step 2: </b>
          <br>
          <p> Enter your zip code</p>
            <input type = "text" name = "zip_code" value = "" checked><br>
        </div>
        <br>
        <div>
          <b>Step 3: </b>
          <br>
          <p> Enter your address or one near you</p>
            <input type = "text" name = "address" value = "" checked><br>
        </div>
          <input type = "submit" value = "Submit">
        </div>
        <br>
    </form>
  </body>
  </html>
